{
    "extends": ["react-app"],
    "plugins": ["prettier", "react-hooks"],
    "rules": {
      "prettier/prettier": "ignore",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    }
  }