.booking-success-info-text {
    font-size: 2rem;
    text-align: center;
    color: var(--white);
}

.booking-success-boarding-pass-wrapper {
}

.booking-success-button-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.muted-purple-background {
    border-radius: 5px;
    background: #9c64a5;
    box-shadow:  2px 2px 2px #85558c,
                -2px -2px 2px #b373be;

}